<div class="container">
  <div class="row">
    <div class="col">
      <span *ngFor="let user of users['results']">
        <img src="{{ user.picture.thumbnail }}" alt="{{ user.name.first }} {{ user.name.last }}">
      </span>
    </div>
  </div>
</div>
